# Python
__pycache__/
*.py[cod]
.venv/
*.db
.pytest_cache/

# Node
node_modules/
dist/
.env
.env.local

# Android
.gradle/
build/
local.properties
*.apk

# OS/editor
.DS_Store
Thumbs.db
.idea/
.vscode/
